.modal-bg {
	position: fixed;
	background-color: black;
	opacity: 0.7;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.modal-content{
	position: absolute;
	top: 50px;
	transform: translateX(50%);
	text-align: center;
	padding: 1%;
	border: 1px solid orange;
	border-radius: 0.5rem;
	width: 40%;
	background-color: #181a1c;
	z-index: 99;
	color: orange;
}